<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" (click)=inicio()>Home</a>
      <a class="py-2 d-none d-md-inline-block" (click)=sala()>Sala de Juegos</a>
      <a class="py-2 d-none d-md-inline-block" (click)=quienSoy()>Quien soy</a>
      <!-- <a class="py-2 d-none d-md-inline-block" >{{ email }}</a> -->
      <P class="py-2 d-none d-md-inline-block"><b>Usuario:</b> {{ email }}</P>
      <a class="py-2 d-none d-md-inline-block" (click)=logOut()>Desloguearse</a>
    </div>
</nav>