
<div class="container">
  <div class="card">
    <img class="img-thumbnail" src="./assets/brand/Imagenes/Juego_idiomas.jpg" alt="Avatar">
    <p class="title">Juego de agilidad mental</p>
   
    <p> <button class="btn btn-default btn-primary" (click)="Juego('Agilidad')">Jugar</button></p>

  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/brand/Imagenes/Ahorcado.jpg" alt="Avatar">
    <p class="title">Juego de ahorcado</p>

    <p> <button class="btn btn-default btn-primary" (click)="Juego('Ahorcado')">Jugar</button></p>

  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/brand/Imagenes/Juego_mayor_menor.jpg" alt="Avatar">
    <p class="title">Juego de mayor o menor</p>

    <p> <button class="btn btn-default btn-primary" (click)="Juego('MayorOMenor')">Jugar</button></p>

  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/brand/Imagenes/Preguntados.png" alt="Avatar">
    <p class="title">Juego de preguntados</p>

    <p> <button class="btn btn-default btn-primary" (click)="Juego('Preguntados')">Jugar</button></p>

  </div>
</div>